html {
	background: #333;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #DA4453;
}
p {
	color: #333
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 2.0;
}
h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: #444;
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
table, th, td {
    border: 1px solid #333;
}
table {
	margin-top: 1em;
}
td, th {
	padding: 10px;
}
artical h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
footer {
	border-top: 2px solid #333;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
.flowRight {
	display: inline;
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}
blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
